.websiteBody{
    margin: 0;
  }

.Page{
    display:block;
    margin:auto;
    width:100%;
    height:auto;
    pointer-events:auto;
  }

.Frame{
    position:relative;
    z-index:2;
    width:100%;
    margin-left:0;
    height:812px;
    min-width:200px;
    max-width:375px;
    margin:auto;
    background-color:rgba(248, 248, 248, 1);
    border-radius:30px;
    overflow:hidden;
    }
 


.previous{
        position: absolute;
        width: 35px;
        height: 26px;
        left: 31px;
        top: 25px; 
        background: #EFEFEF;
        border-radius: 3px; }


.Humburger{
    position: absolute;
    width: 30px;
    height: 20px;
    left: 312px;
    top: 28px;
  }
  
.Mini-Cake-store{
    position: absolute;
    width: 186px;
    height: 36px;
    left: 30px;
    top: 72px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;}

.Search-box{
  position: absolute;
  width: 315px;
  height: 49px;
  left: 30px;
  top: 129px; }

.Search-box-rectangle { position: absolute;
                        width: 315px;
                        height: 48px;
                        background: rgba(231, 231, 231, 0.67);
                        border-radius: 10px;} 
  
.text {position: absolute;
       border: none;
       outline: none;
       width: 250px;
       height: 48px;
       right:0;
       border-radius: 0;
       background-color: transparent;
       font-size: large;} 
      
.search-icon {position: relative;
              width: 26px;
              height: 26px;
              left: 10px;
              top: 10px;}

.cake1 { position: absolute;
          width: 148px;
          height: 239px;
          left: 32px;
          top: calc(50% - 239px/2 - 82.5px);
          
          background: radial-gradient(50% 50% at 50% 50%, #A2B6FF 0%, #305DFF 100%);
          border-radius: 20px;}

.product-name { position: absolute;
                width: 88px;
                height: 53px;
                left: 9px;
                top: 16px;
                }

.name { font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: rgba(0, 0, 0, 0.73);
        }

.label {  font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.54);
          top: 10px;}

.img1 {  position: absolute;
          width: 89px;
          height: 124px;
          left: 51px;
          top: 69px; }

.price { position: absolute;
        width: 70px;
        height: 35px;
        left: 58px;
        top: 203px;
        
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 34px;
        color: rgba(0, 0, 0, 0.73);}

.price2 { font-size: 16px;
          line-height: 24px;}

.cake2 {  position: absolute;
          width: 148px;
          height: 197px;
          left: 199px;
          top: 206px;
          
          background: radial-gradient(50% 50% at 50% 50%, #E0F2F8 0%, #00FFF0 100%);
          border-radius: 20px; }

.img2 { position: absolute;
        width: 103.73px;
        height: 82.06px;
        left: 31.97px;
        top: 77.65px;
        transform: rotate(1.5deg);}

.up { left: 60px;
      top: 161px; }

.cake3 {  position: absolute;
          width: 148px;
          height: 197px;
          left: 30px;
          top: 464px;
          
          background: radial-gradient(50% 50% at 50% 50%, #FDFFA2 0%, #E1FD35 100%);
          border-radius: 20px;}

.img3 { position: absolute;
        width: 78.3px;
        height: 92.99px;
        left: 47.68px;
        top: 73.56px;
        transform: matrix(-1, -0.03, -0.03, 1, 0, 0);}

.cake4 {  position: absolute;
          width: 148px;
          height: 239px;
          left: 197px;
          top: 422px;
          
          background: radial-gradient(50% 50% at 50% 50%, rgba(255, 87, 15, 0.44) 0%, #FF9F0E 100%);
          border-radius: 20px;}

.img4 { position: absolute;
        width: 140px;
        height: 95px;
        top:84px;
        left:26px;}